@model Modelo.DAO.Projeto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resposta_13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resposta_13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
