@{
    ViewBag.Title = " PROJETO CANVAS";
}

<hgroup class="title">
  
    <h2>@ViewBag.Message</h2>
</hgroup>



<aside>
      <ul>

        <li>@Html.ActionLink("Login", "Login", "Account")</li>
        <li>@Html.ActionLink("Cadastro Participantes", "Create", "Participantes")</li>
        <li>@Html.ActionLink("Cadastro Avaliacao", "Create", "Avaliacaos")</li>
        <li>@Html.ActionLink("Index Participantes", "Index", "Participantes")</li>
        <li>@Html.ActionLink("Criar Projetos", "Create", "Projetoes")</li>
        
    </ul>
</aside>